:root{
    --color-main:#12182A;
    --color-secondary:#FFFAEB;
    --color-links:#434755;
    --color-underline:#F6C142;
    --color-btn:#5DB5F9;
    --color-block-1:#FEBF01;
    --color-block-2:#5AAEEF;
    --font-color-1: #000000;
    --font-color-2: #FFFFFF;



}