@import url("../libs/normalize.css");
@import url("../libs/fontawesome.css");
@import url("../libs/reset.css");
@import url("./global.css");
@import url("./fonts.css");
@import url("./style.css");
@import url("../css/components/header.css");
@import url("../css/slider.css");
@import url("../css/components/courses.css");
@import url("../css/components/features.css");
@import url("../css/components/start.css");
@import url("../css/components/footer.css");
@import url("../css/componentsAbout/mainImage.css");
@import url("../css/componentsAbout/header.css");
@import url("../css/componentsCourses/mainCourses.css");
@import url("../css/componentsCourses/header.css");
@import url("../css/componentsNews/mainNews.css");
@import url("../css/componentsNews/header.css");
@import url("../css/componentsNews/mainNewsCryptocurrency.css");
@import url("../css/componentsContacts/mainContacts.css");
@import url("../css/componentsContacts/headerContacts.css");



* {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

.none {
    display: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
    margin: 0 auto;
    
}
