.swiper-slide {
    margin-top: 120px;
    text-align: center;
    

}

.swiper-pagination-bullet {
    background: var(--font-color-2) !important;
    transform: translateY(-70px) !important;

}


.swiper-button-prev {
    transform: translateX(310px);
    border-radius: 50%;
    background: var(--font-color-2);
    width: 50px !important;
    height: 50px !important;



}

.swiper-button-prev::after {
    content: url('/img/Home/arrow-left.svg') !important;
    transform: translateY(-4px);
    position: fixed !important;

}


.swiper-button-next {
    transform: translateX(-310px);
    border-radius: 50%;
    background: var(--font-color-2);
    width: 50px !important;
    height: 50px !important;



}

.swiper-button-next::after {
    content: url('/img/Home/arrow-right.svg') !important;
    transform: translateY(-4px);

}


.swiper-slide img {
    box-shadow: 0px 4px 30px rgba(246, 193, 66, 0.3);
    border-radius: 20px;
    filter: brightness(70%);
    
   
}




.slide {
    position: relative;
    margin: 0 auto;
    width: 614px;
    height: 401px;
    /* border: 2px dashed #F6C142;
    border-radius: 20px;  */

    

}


.slide-wrapper-1{
    margin: 0 auto;
    width: 614px;
    height: 401px;
    border: 2px dashed #5DB5F9;
    border-radius: 20px;
    
}


.slide h4 {
    position: absolute;
    top: -70px;
    left: 144px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: var(--font-color-2);
    transform: translateY(400px);
    z-index: 1000;

}

.slide p {
    position: absolute;
    top: 367px;
    left: 232px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-transform: uppercase;
    color: var(--font-color-2);
    opacity: 0.67;
    z-index: 1005;

}

