@media (max-width: 768px) {
    .courses__list-item :nth-child(3) {
        width: 170px;
    }
}

@media (max-width: 578px) {
    .courses__container h2 {

        font-size: 30px;
        line-height: 37px;
        letter-spacing: 0.02em;
        
    }

    .courses__list-item a{
        font-size: 13px;
        line-height: 9px;
    }
}

@media (max-width: 430px) {
    .courses__list{
        display: none;
    }
}

/* @media (max-width: 800px){
    .button2 {
        margin-left: 290px;
    }

    .courses__btn {
        margin-left: 280px;
    }
} */

/* @media (max-width: 768px) {
    .courses {
        height: 650px;
    }
    .courses__container h2 {
        font-size: 38px;
    }

    .courses__list-item {
        display: none;
    }

    .button2 {
        margin-left: 285px;
    }

    .courses__btn {
        margin-left: 273px;
    }
} */

/* @media (max-width: 681px) {
    .button2 {
        margin-left: 220px;
    }

    .courses__btn {
        margin-left: 210px;
    }

    .courses__container h2 {
        font-size: 30px;
    }
}

@media (max-width: 600px){
    .button2 {
        margin-left: 190px;
    }

    .courses__btn {
        margin-left: 180px;
    } 
}

@media (max-width: 500px){
    .button2 {
        margin-left: 150px;
    }

    .courses__btn {
        margin-left: 140px;
    }
}

@media (max-width: 460px){

    .courses__container h2 {
        font-size: 30px;
        line-height: 37px;
    }
    .button2 {
        margin-left: 130px;
    }

    .courses__btn {
        margin-left: 120px;
    }
} */
/* @media (max-width: 426px) {
    .courses__container h2 {
        font-size: 30px;
        line-height: 37px;
    }

    .button2 {
        margin-left: 102px;
    }

    .courses__btn{
        margin-left: 92px;
    }
} */
