@media (max-width: 768px) {
    .courses {
        height: 650px;
    }
    .courses__container h2 {
        font-size: 38px;
    }

    .courses__list-item {
        display: none;
    }

    .button2 {
        margin-left: 285px;
    }

    .courses__btn {
        margin-left: 273px;
    }
}

@media (max-width: 681px) {
    .button2 {
        margin-left: 220px;
    }

    .courses__btn {
        margin-left: 210px;
    }

    .courses__container h2 {
        font-size: 30px;
    }
}

@media (max-width: 426px) {
    .courses__container h2 {
        font-size: 30px;
        line-height: 37px;
    }

    .button2 {
        margin-left: 95px;
    }

    .courses__btn{
        margin-left: 85px;
    }
}
