@media (max-width: 768px){
    .header__container-slider--title{
        font-size: 38px;
    }

    .swiper-pagination1{
        margin-left: 353px;
    }
}

@media (max-width: 681px){
    .header__container-slider--title{
        font-size: 30px;
    }

    .picture::after{
        display: none;
    }

    .picture::before{
        display: none;
    }

    .swiper-pagination1{
        margin-left: 305px;
    }
}

@media (max-width: 650px){
    .swiper-slide h4{
        display: none;
    }

    .paragraph_1, .swiper-pagination1{
        display: none; 
    }
}


.header__mobile {
    display: none;
    width: 414px;
    height: 60px;
    background: #ffffff;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.header__mobile-top {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px 16px 20px;
}

.header__humburger {
    border: none;
    background: none;
    display: none;
}


@media (max-width: 426px) {
    .main__contact {
        height: 1535px;
    }

    .contact__wrapper {
        width: 354px;
        height: 948px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
    }
    .header__container {
        display: none;
    }

    .header__mobile {
        display: block;
    }

    .header__mobile-buttom {
        display: none;
    }

    .header__humburger {
        display: block;
        z-index: 16;

    }

    .figure-left,
    .figure-right {
        display: none;
    }

    .form__contact-caption {
        margin-top: 30px;
    }

    .contact__wrapper {
        transform: translateY(0px);
    }

    .contact__info {
        margin: 0 auto;
        width: 354px;
        transform: translateY(30px);
    }

    .contact__phone {
        width: 354px;
        height: 84px;
        margin-top: 26px;
    }

    .contact__email,
    .contact__location {
        width: 354px;
        height: 84px;
        margin-top: 10px;
    }

    .contact__paragraph {
        margin-top: 15px;
        font-size: 18px;
        width: 354px;
        height: 120px;
    }

    .contact-link,
    .email-link,
    .location-link {
        font-size: 16px;
    }

    .form__contact {
        width: 354px;
        height: 948px;
        margin: 0 auto;
        transform: translateY(65px);
    }

    .form__contact-caption {
        margin-top: 30px;
        margin-left: 31px;
    }

    .form__fields {
        margin: 0;
    }

    .form__contact-caption:before {
        width: 294px;
    }

    .field_name {
        margin-top: 30px;
        margin-left: 30px;
    }
    .field__wrapper {
        display: block;
    }

    input[type="text"],
    [type="number"],
    [name="reason"] {
        width: 294px;
        height: 50px;
        margin-top: 10px;
        margin-left: 30px;
    }

    textarea[name="message"] {
        width: 294px;
        height: 150px;
        margin-left: 30px;
    }

    input[name="submit_btn"] {
        margin-top: 30px;
        width: 122px;
        height: 50px;
        margin-left: 30px;
        margin-bottom: 40px;
    }



    .main__contact {
        background: url("/img/News/mobile-news/background.svg") no-repeat;
    }

    .header__mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 15px;
        background: #eff8fe;
        z-index: 15;
        transform: translateX(-100%);
        transition: transform 0.5s;
    }

    .header__mobile-menu.active {
        transform: translateX(0);     
    }

    .header__humburger:active  {
        position: relative;
        top: 2px;
        transition: color 0.2s;
    }


    .mobile__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        transform: translateY(120px);
        
    }

    .mobile__menu li a{
        text-decoration: none;
        font-size: 30px;
        font-family: "Inter";
        font-style: normal;
        opacity: 0.8;
        color: #12182a;
    }

    .mobile__menu li a:hover{
        font-weight: 700;

    }
}
