/* .swiper-four {
    width: 915px;
    height: 46px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;

}

.swiper-slide {
    width: auto;
    height: 46px;
}


.news1 {
    width: 63px;
    height: 46px;
}

.news2 {
    width: 173px;
    height: 46px;
}

.news3 {
    width: 130px;
    height: 46px;
}


.news4 {
    width: 190px;
    height: 46px;
}

.news5 {
    width: 208px;
    height: 46px;
}

.news6 {
    width: 76px;
    height: 46px;
}

.new-title {
    padding: 12px 20px;
}

.new-title:hover {
    background: #12182A;
    color: white;
    font-weight: 600;
    border-radius: 6px;

}

.news-button-next {
    background: #FFFFFF;
    border: 1px solid rgba(18, 24, 42, 0.2);
    border-radius: 6px;
    width: 46px;
    height: 46px;
    position: relative;
}

.news-button-next::after {
    content: url("../../img/News/arrow-right.svg");
    top: 12px;
    left: 17px;
    position: absolute;
}

.news-button-prev {
    background: #FFFFFF;
    border: 1px solid rgba(18, 24, 42, 0.2);
    border-radius: 6px;
    width: 46px;
    height: 46px;
    position: relative;
}

.news-button-prev::after {
    content: url("../../img/News/arrow-left.svg");
    top: 14px;
    right: 17px;
    position: absolute;
}

.button4 {
    display: flex;
    gap: 949px;
    position: absolute
} */