.main__news {
    background: url("/img/News/background.svg") no-repeat;
    margin: 0 auto;
    width: 1440px;
    max-width: 100%;
}

.news {
    max-width: 1440px;
}

.wrapper__news-block {
    max-width: 100%;
}

.news__title {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    color: var(--color-main);
    margin-top: 37px;
}


.news__block {
    max-width: 1040px;
    display: grid;
    grid-template-columns: repeat(3, 320px);
    grid-template-rows: repeat(3, max-content);
    gap: 40px;
    margin: 0 auto;
    margin-top: 37px;
    margin-bottom: 100px;
}

.news__block a {
    text-decoration: none;
}

.news__item-card {
    background: #ffffff;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 320px;
    height: 443px;
}

.news__img {
    position: relative;
    width: 320px;
    height: 240px;
}

.img {
    position: absolute;
    top: 18px;
    left: 16px;
}

.news__card-info {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
}

.news__button {
    background: #ffffff;
    border: 1px solid #12182a;
    border-radius: 6px;
    display: inline-block;
    height: 29px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #000000;
    padding: 6px 10px;
    margin-left: 20px;
}

.news__card-atribute {
    display: flex;
    align-items: center;
}

.news__date {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    color: #434755;
}

.news__item-title {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #000000;
    margin-top: 22px;
    width: 276px;
    height: 56px;
    margin-left: 20px;
}

.news__item-paragraph {
    margin-top: 6px;
    width: 278px;
    height: 48px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #434755;
    margin-left: 20px;
}

.news__date-cryptocurrency {
    margin-left: 25px;
}

.news__date-metaverse {
    margin-left: 77px;
}

.news__date-investment {
    margin-left: 69px;
}

.news__list {
    display: flex;
}

.news__list-item {
    display: flex;
    margin: 0 auto;
    margin-top: 18px;
    width: 1040px;
    justify-content: space-evenly;
}

.news__list-item li {
    background: #ffffff;
    border: 1px solid rgba(18, 24, 42, 0.2);
    border-radius: 6px;
    height: 46px;
    padding: 12px 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.8);
}

.news__active {
    background: var(--color-main) !important;
    color: var(--font-color-2) !important;
}

.news__list-item a {
    text-decoration: none;
}

.item-1,.item-2{
    width: 46px;
    height: 46px;
    border: 1px solid rgba(18, 24, 42, 0.2);
    background: #ffffff;
    border-radius: 6px;
}

.item-1::before {
    content: url('../../img/News/arrow-left.svg');
    
}

.item-2::before {
    content: url("../../img/News/arrow-right.svg");
}




@media (max-width: 1055px) {
    .news__block {
        gap: 30px;
    }
}

@media (max-width: 1020px) {
    .news__block {
        grid-template-columns: repeat(2, 320px);
        justify-content: center;
        margin-bottom: 50px;

    }

    .news__title {
        font-weight: 800;
        font-size: 34px;
        line-height: 34px;
    }

    .news__list-item li {
        font-size: 16px;
        line-height: 19px;

    }
}

@media (max-width: 890px) {
    .news__list-item li {
        padding-left: 10px;
        padding-right: 10px;

    }
}

@media (max-width: 755px) {
    .news__list-item li {
        height: 30px;
        padding: 3px 3px 3px 3px;
    }
    .item-1{
        display: none;
    }
    .item-2{
        display: none;
    }

    .arrow-right{
        display: none;
    }
}

@media (max-width: 700px){
    .news__block{
        grid-template-columns: 320px;
        justify-content: center;
    }
  }


@media (max-width: 605px){
  .news__list-item{
    display: grid;
    grid-template-columns: 157px 142px;
    gap: 5px;
    text-align: center;
  }
}
