/*Discover Lifelong Learning*/

.courses {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.92), rgba(255, 255, 255, 0.92)), #ffc000;
    max-width: 1440px;
    height: 774px;
    margin: 0 auto;
}

.courses__container {
    max-width: 1040px;
    height: 709px;
    margin: 0px auto;
    padding: 0px 8px;
    display: flex;
    flex-direction: column;
    overflow-x: clip;
}

.swiper-container2 {
    margin-top: 30px;
    max-width: 1038px;
    height: 286px;
    position: relative;
    text-align: -webkit-center;
}


/*---------------------------------slids----------------------------------------------*/

.swiper-slide a {
    text-decoration: none;
    
}
.point1 {
    display: flex;
    flex-direction: column;
    width: 237px;
    height: 286px;
}

.point1_p {
    background: #ffffff;
    width: 237px;
    height: 86px;
    padding: 19px 22px;
    border-radius: 0px 0px 20px 20px;
}

.point1 p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.point2 {
    display: flex;
    flex-direction: column;
    width: 237px;
    height: 286px;
   
}

.point2_p {
    background: #ffffff;
    width: 237px;
    height: 86px;
    padding: 19px 22px;
    border-radius: 0px 0px 20px 20px;
}

.point2 p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.point3 {
    display: flex;
    flex-direction: column;
    width: 237px;
    height: 286px;
}

.point3_p {
    background: #ffffff;
    width: 237px;
    height: 86px;
    padding: 19px 22px;
    border-radius: 0px 0px 20px 20px;
}

.point3 p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.point4 {
    display: flex;
    flex-direction: column;
    width: 237px;
    height: 286px;
}

.point4_p {
    background: #ffffff;
    width: 237px;
    height: 86px;
    padding: 19px 22px;
    border-radius: 0px 0px 20px 20px;
}

.point4 p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.point5 {
    display: flex;
    flex-direction: column;
    width: 237px;
    height: 286px;
}

.point5_p {
    background: #ffffff;
    width: 237px;
    height: 86px;
    padding: 19px 22px;
    border-radius: 0px 0px 20px 20px;
}

.point5 p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.modal-swiper-button-next {
    border-radius: 50%;
    background: var(--color-main);
    width: 36px;
    height: 36px;
    position: relative;
    cursor: pointer;
}

.modal-swiper-button-next::after {
    content: url("../../img/Home/arrow-small-right.svg");
    top: 9px;
    left: 13px;
    position: absolute;
}

.modal-swiper-button-prev {
    border-radius: 50%;
    background: var(--color-main);
    width: 36px;
    height: 36px;
    position: relative;
    cursor: pointer;
}

.modal-swiper-button-prev::after {
    content: url("../../img/Home/arrow-small-left.svg");
    top: 9px;
    right: 13px;
    position: absolute;
}

.botton-2 {
    display: flex;
    max-width: 203px;
    justify-content: center;
    gap: 131px;
    transform: translateY(40px);
}

.modal-swiper-pagination .swiper-pagination-bullet {
    background: #12182a;
    text-align: center;
}

.modal-swiper-pagination {
    max-width: 100px;
    transform: translateX(51px);
}

/*---------------------------------slids ENDS----------------------------------------------*/
.courses__button {
    margin-top: 100px;
}
.courses__btn {
    margin-top: 40px;
    text-decoration: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: var(--font-color-2);
    padding: 12px 30px;
    width: 230px;
    height: 50px;
    background: var(--color-btn);
    border-radius: 140px;
}

.courses__btn:active {
    position: relative;
    top: 2px;
    transition: color 0.2s;
}

.courses__btn:hover {
    background-color: rgb(54, 81, 156);
}

.courses__container h2 {
    margin-top: 40px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-main);
}

.courses__list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 50px;
    margin-top: 42px;
    box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.1);
    position: relative;
}

.courses__list-item a {
    position: relative;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: var(--color-links);
    text-transform: uppercase;
}

.courses__list-item a.active {
    font-weight: 600;
    color: var(--font-color-1);
}

.courses__list-item a:hover {
    font-weight: 600;
    color: var(--font-color-1);
}

.courses__list-item a.active::after,
.courses__list-item a:hover::after {
    content: "";
    position: absolute;
    left: 0;
    right: 10px;
    left: 10px;
    bottom: -15px;
    display: block;
    height: 4px;
    background-color: var(--color-underline);
}

.courses__list-item li:last-child {
    list-style: url("../../img/Home/fa-angle-down.svg");
}


/*Most Popular Courses*/

.popular__courses-list--item a {
    display: block;
    text-decoration: none;
    width: 100%;
}

.popular__courses {
    max-width: 1440px;
    height: 641px;
    margin: 0 auto;
    background: url("../../img/Home/line.svg") no-repeat;
    background-position: right -2px bottom 185px;
}

.popular__courses-container {
    max-width: 1040px;
    height: 641px;
    margin: 0px auto;
    padding: 0px 15px;
}

.popular__courses h2 {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--color-main);
    margin-top: 86px;
}

.popular__courses-list--item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, max-content);
    transform: translateY(39px);
    grid-gap: 21px;
    z-index: 100;
}

.popular__courses-paragraph {
    text-decoration: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--font-color-1);
}

.item {
    background: var(--font-color-2);
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 21.5px;
    width: 333.33px;
    height: 166.5px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.item:hover {
    background-color: #f5e8bc;
}

@media (max-width: 1100px) {
    .item {
        width: 220px;
        margin: 0 auto;
    }
}


@media (max-width: 768px) {
    .popular__courses-container h2 {
        font-size: 48px;
    }
    
}


@media (max-width: 720px) {
    .popular__courses-container h2 {
        font-size: 38px;
        margin-top: 30px;
    }

    .popular__courses-list--item {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, max-content);
        margin-bottom: 20px;
    }

    .popular__courses {
        background: url("/img/mobile/line-mobile.svg") no-repeat;
        background-position: right 63px bottom 115px;
        height: 700px;
    }
}
@media (max-width: 490px) {
    .popular__courses-container h2 {
        font-size: 30px;
        line-height: 37px;
        font-weight: 800;
        width: 354px;
        height: 74px;
        margin: 0 auto;
        transform: translateY(53px);
    }

    .popular__courses-list--item {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, max-content);
        margin-top: 40px;
    }

    .item {
        width: 162px;
        height: 162px;
    }

    .popular__courses {
        background-position: right 7px bottom 80px;
        height: 723px;
    }
}

@media (max-width: 426px) {
    .popular__courses-container h2 {
        font-size: 30px;
        line-height: 37px;
        font-weight: 800;
        width: 354px;
        height: 74px;
        margin: 0 auto;
        transform: translateY(53px);
    }

    .item {
        width: 162px;
        height: 162px;
    }

    .popular__courses {
        background-position: right 7px bottom 80px;
        height: 723px;
    }
    .popular__courses-list--item {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, max-content);
        margin-top: 40px;
    }
}

/*Learn Money Management*/

.swiper-container3 {
    max-width: 1440px;
    height: auto;
    margin: 0 auto;
    overflow-x: hidden;
    position: relative;
}

.money1 {
    background: url("../../img/Home/learn-money.jpg");
    max-width: 1440px;
    height: 535px;
}

.money2 {
    background: url("../../img/Home/slide3-2.png");
    max-width: 1440px;
    height: 535px;
    position: relative;
}

.money3 {
    background: url("../../img/Home/slide3-3.png");
    max-width: 1440px;
    height: 535px;
    position: relative;
}


.money4 {
    background: url("../../img/Home/slide3-4.png");
    max-width: 1440px;
    height: 535px;
    position: relative;
}

.money-management-info {
    display: flex;
    flex-direction: column;
    /* width: 400px;
    height: 349px;  */
    max-width: 100%;
    margin-left: 201px;
}


.money__management-tittle {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.02em;
    color: var(--font-color-2);
    max-width: 400px;
    height: auto;
    margin-top: 60px;
}

.money__management-paragraph {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: var(--font-color-2);
    max-width: 400px;
    height: auto;
    margin-top: 25px;
}

.money__management-btn {
    display: inline-block;
    background-color: var(--color-btn);
    border-radius: 100px;
    width: 159px;
    height: 50px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    padding: 12px 30px;
    text-decoration: none;
    color: var(--font-color-2);
    margin-top: 26px;
}

.money__management-btn:active {
    position: relative;
    top: 2px;
    transition: color 0.2s;
}

.money__management-btn:hover {
    background-color: rgb(54, 81, 156);
}

.button3 {
    display: flex;
    position: absolute;
    bottom: 11.2%;
    left: 42.99%;
    z-index: 1;
}
.money-management-button-next {
    border-radius: 50%;
    background: var(--font-color-2);
    width: 36px;
    height: 36px;
    position: relative;
    cursor: pointer;
}

.money-management-button-next::after {
    content: url("../../img/Home/arrow-small-black-right.svg");
    top: 10px;
    left: 16px;
    position: absolute;
}

.money-management-button-prev {
    border-radius: 50%;
    background: var(--font-color-2);
    width: 36px;
    height: 36px;
    position: relative;
    cursor: pointer;
}

.money-management-button-prev::after {
    content: url("../../img/Home/arrow-small-black-left.svg");
    top: 10px;
    right: 16px;
    position: absolute;
}

.money-management-pagination {
    margin-bottom: 0;
    position: static;
    max-width: 91px;
    margin: 6px 20px 0px 20px;
}

.button3 .money-management-pagination {
    width: 66px;
}

.button3 .swiper-pagination-bullet {
    background: var(--font-color-2);
}

@media (max-width: 1100px) {
    .money-management-info {
        margin-left: 100px;
    }
}

@media (max-width: 720px) {
    .money-management-info {
        margin-left: 40px;
    }

    .money__management-tittle {
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
    }

    .money__management-paragraph {
        width: 334px;
        height: 188px;
    }
}

@media (max-width: 500px) {
    .swiper-container3
    {height: auto;}
    

    .money1{
        background: url'(../../img/Home/learn-money.jpg)';
        background-size: cover;
        height: 603px;
    }

    .money2{
        background: url'(../../img/Home/slide3-2.jpg)';
        background-size: cover;
        height: 603px;
    }

    .money3{
        background: url'(../../img/Home/slide3-3.jpg)';
        background-size: cover;
        height: 603px;
    }

    .money4{
        background: url'(../../img/Home/slide3-4.jpg)';
        background-size: cover;
        height: 603px;
    }

    .money__management-btn {
        margin-top: 40px;
    }

    .money__management-paragraph {
        margin-top: 31px;
    }

    .button3{
        left: 30%;
    }
}

